body {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	background-color: rgb(27, 27, 27);
}

canvas {
	border: 1.5px solid black;
	background-color: rgb(30, 121, 163);
	background: linear-gradient( to bottom, rgb(71, 163, 194) 70%, rgb(20, 143, 20) 20%);
}